version: '3.8'

services:
  # PersAI Core Application
  persai:
    build: .
    ports:
      - "5173:5173"
    environment:
      - DEEPSEEK_API_KEY=${DEEPSEEK_API_KEY}
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - YANDEX_API_KEY=${YANDEX_API_KEY}
    volumes:
      - ./plugins/registry.json:/app/plugins/registry.json
    depends_on:
      - nba-plugin

  # NBA Plugin (Example)
  nba-plugin:
    build: ./examples/nba-plugin
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
